{{#each this}}
<div class="character-card">
    <img src="{{image}}" alt="{{name}}" class="character-image">
    <h1 class="character-name">{{name}}</h1>
    <p class="character-data">Origin: {{origin.name}}</p>
    <p class="character-data">Location: {{location.name}}</p>
    <p class="character-data">Status: {{status}}</p>
</div>
{{/each}}